<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <style>
        .error {
            background: red;
        }
    </style>
</head>

<body>
    <form method="POST">
        <input type="text" id="username" name="username">
        <span id="username-error"></span>
        <br>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" id="btn-login" value="注册"></button>
    </form>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#btn-login').click(function () {
            var user = {
                username: $('#username').val(),
                password: $('#password').val()
            }
        })
        $('#username').focusout(function () {
            var username = {
                username: $('#username').val()
            }
            $.ajax({
                url: '{{ url_for("user.verify_username") }}',
                type: 'POST',
                data: username,
                success: function (response) {
                    if (response.status === true) {
                        $('#username').addClass('error')
                        $('#username-error').text('用户已存在')
                    } else {
                        $('#username').removeClass('error')
                        $('#username-error').text('')
                    }
                }
            })
        })
    })
</script>