<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐 Top 250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/music/6276708bd0b43f4891f02f84a0c66e5241bea03e/css/music/init.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/15d842e2bad0735f4595729e992e3f13e3a00049/css/music/_init_.css"/>

    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
  <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="slogan">我们的精神角落</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/time&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://dongxi.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-commodity&quot;,&quot;uid&quot;:&quot;0&quot;}">东西</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://www.douban.com/wetware/"
     >潮潮豆瓣音乐周</a>
    </li>
    <li    ><a href="https://music.douban.com/artists/royalty/"
     >金羊毛计划</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://douban.fm/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://douban.fm/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://artist.douban.com/abilu/2016"
     >阿比鹿音乐奖</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐 Top 250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2078050/" onclick="moreurl(this,{i:'125',query:'',subject_id:'2078050',from:'music_subject_search'})" title="陈绮贞 - 花的姿态：演唱会经典实录"  >
                <img src="https://img1.doubanio.com/spic/s2377978.jpg" alt="陈绮贞 - 花的姿态：演唱会经典实录"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2078050/" onclick="moreurl(this,{i:'125',query:'',subject_id:'2078050',from:'music_subject_search'})" >
            花的姿态：演唱会经典实录
                <span style="font-size:12px;">花的姿態經典實錄精裝版2CD+DVD</span>
       </a>

            <p class="pl">陈绮贞 / 2007-05-18 / 演唱会/Live / CD DVD</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            24781人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2078050"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1405324/" onclick="moreurl(this,{i:'126',query:'',subject_id:'1405324',from:'music_subject_search'})" title="朴树 - 我去2000年"  >
                <img src="https://img1.doubanio.com/spic/s4715377.jpg" alt="朴树 - 我去2000年"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1405324/" onclick="moreurl(this,{i:'126',query:'',subject_id:'1405324',from:'music_subject_search'})" >
            我去2000年
       </a>

            <p class="pl">朴树 / 1999-1 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            25500人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1405324"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1758337/" onclick="moreurl(this,{i:'127',query:'',subject_id:'1758337',from:'music_subject_search'})" title="GALA - Young For You"  >
                <img src="https://img1.doubanio.com/spic/s1629838.jpg" alt="GALA - Young For You"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1758337/" onclick="moreurl(this,{i:'127',query:'',subject_id:'1758337',from:'music_subject_search'})" >
            Young For You
       </a>

            <p class="pl">GALA / 2004 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            25778人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1758337"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1405050/" onclick="moreurl(this,{i:'128',query:'',subject_id:'1405050',from:'music_subject_search'})" title="孙燕姿 - 自选集"  >
                <img src="https://img1.doubanio.com/spic/s3151869.jpg" alt="孙燕姿 - 自选集"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1405050/" onclick="moreurl(this,{i:'128',query:'',subject_id:'1405050',from:'music_subject_search'})" >
            自选集
                <span style="font-size:12px;">Start Yan-zi</span>
       </a>

            <p class="pl">孙燕姿 / 2002年1月 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            25197人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1405050"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2266925/" onclick="moreurl(this,{i:'129',query:'',subject_id:'2266925',from:'music_subject_search'})" title="李宗盛 - 理性与感性作品音乐会"  >
                <img src="https://img3.doubanio.com/spic/s2891182.jpg" alt="李宗盛 - 理性与感性作品音乐会"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2266925/" onclick="moreurl(this,{i:'129',query:'',subject_id:'2266925',from:'music_subject_search'})" >
            理性与感性作品音乐会
                <span style="font-size:12px;">理性与感性作品音乐会</span>
       </a>

            <p class="pl">李宗盛 / 2007-09-28 / 台版 / DVD9 / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            24059人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2266925"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2350942/" onclick="moreurl(this,{i:'130',query:'',subject_id:'2350942',from:'music_subject_search'})" title="曹方 - 比天空还远"  >
                <img src="https://img3.doubanio.com/spic/s2755385.jpg" alt="曹方 - 比天空还远"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2350942/" onclick="moreurl(this,{i:'130',query:'',subject_id:'2350942',from:'music_subject_search'})" >
            比天空还远
       </a>

            <p class="pl">曹方 / 2007-11-20 / EP / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            25992人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2350942"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2299845/" onclick="moreurl(this,{i:'131',query:'',subject_id:'2299845',from:'music_subject_search'})" title="窦唯 - 黑梦"  >
                <img src="https://img3.doubanio.com/spic/s3081692.jpg" alt="窦唯 - 黑梦"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2299845/" onclick="moreurl(this,{i:'131',query:'',subject_id:'2299845',from:'music_subject_search'})" >
            黑梦
       </a>

            <p class="pl">窦唯 / 1994-10 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            24857人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2299845"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4138573/" onclick="moreurl(this,{i:'132',query:'',subject_id:'4138573',from:'music_subject_search'})" title="My Little Airport - 介乎法國與旺角的詩意"  >
                <img src="https://img3.doubanio.com/spic/s4057285.jpg" alt="My Little Airport - 介乎法國與旺角的詩意"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4138573/" onclick="moreurl(this,{i:'132',query:'',subject_id:'4138573',from:'music_subject_search'})" >
            介乎法國與旺角的詩意
                <span style="font-size:12px;">介乎法国与旺角的诗意 / poetics - something between montparnasse and mongkok</span>
       </a>

            <p class="pl">My Little Airport / 2009-11-20 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.1</span>
                <span class="pl">
                    (
                            26707人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4138573"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2164654/" onclick="moreurl(this,{i:'133',query:'',subject_id:'2164654',from:'music_subject_search'})" title="周杰倫... - 不能说的秘密"  >
                <img src="https://img1.doubanio.com/spic/s2652097.jpg" alt="周杰倫... - 不能说的秘密"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2164654/" onclick="moreurl(this,{i:'133',query:'',subject_id:'2164654',from:'music_subject_search'})" >
            不能说的秘密
                <span style="font-size:12px;">不能說的秘密</span>
       </a>

            <p class="pl">周杰倫,Terdsak Janpan,詹宇豪,陳承麒,黃婉琦,姚蘇蓉,黃俊郎,江語晨,長榮交響樂團 / 2007-08-13 / Soundtrack / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            25257人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2164654"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1427941/" onclick="moreurl(this,{i:'134',query:'',subject_id:'1427941',from:'music_subject_search'})" title="梁静茹 - 丝路"  >
                <img src="https://img3.doubanio.com/spic/s27986033.jpg" alt="梁静茹 - 丝路"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1427941/" onclick="moreurl(this,{i:'134',query:'',subject_id:'1427941',from:'music_subject_search'})" >
            丝路
                <span style="font-size:12px;">通往爱的路途</span>
       </a>

            <p class="pl">梁静茹 / 2005 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.2</span>
                <span class="pl">
                    (
                            25839人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1427941"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2153935/" onclick="moreurl(this,{i:'135',query:'',subject_id:'2153935',from:'music_subject_search'})" title="James Blunt - All The Lost Souls"  >
                <img src="https://img3.doubanio.com/spic/s2609413.jpg" alt="James Blunt - All The Lost Souls"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2153935/" onclick="moreurl(this,{i:'135',query:'',subject_id:'2153935',from:'music_subject_search'})" >
            All The Lost Souls
                <span style="font-size:12px;">失落的灵魂</span>
       </a>

            <p class="pl">James Blunt / 2007-09-18 / Import / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            24986人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2153935"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1408794/" onclick="moreurl(this,{i:'136',query:'',subject_id:'1408794',from:'music_subject_search'})" title="F.I.R.... - F.I.R."  >
                <img src="https://img3.doubanio.com/spic/s4124010.jpg" alt="F.I.R.... - F.I.R."/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1408794/" onclick="moreurl(this,{i:'136',query:'',subject_id:'1408794',from:'music_subject_search'})" >
            F.I.R.
       </a>

            <p class="pl">F.I.R.,飞儿乐团 / 2004-04-29 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            25100人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1408794"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4009831/" onclick="moreurl(this,{i:'137',query:'',subject_id:'4009831',from:'music_subject_search'})" title="陈奕迅 - 上五楼的快活"  >
                <img src="https://img3.doubanio.com/spic/s3969572.jpg" alt="陈奕迅 - 上五楼的快活"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4009831/" onclick="moreurl(this,{i:'137',query:'',subject_id:'4009831',from:'music_subject_search'})" >
            上五楼的快活
                <span style="font-size:12px;">上五楼的快活</span>
       </a>

            <p class="pl">陈奕迅 / 2009-09-23 / 专辑 / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.7</span>
                <span class="pl">
                    (
                            26876人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4009831"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2042799/" onclick="moreurl(this,{i:'138',query:'',subject_id:'2042799',from:'music_subject_search'})" title="Linkin Park - Minutes to Midnight"  >
                <img src="https://img3.doubanio.com/spic/s2665031.jpg" alt="Linkin Park - Minutes to Midnight"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2042799/" onclick="moreurl(this,{i:'138',query:'',subject_id:'2042799',from:'music_subject_search'})" >
            Minutes to Midnight
       </a>

            <p class="pl">Linkin Park / 2007-05-15 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.2</span>
                <span class="pl">
                    (
                            25166人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2042799"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2264207/" onclick="moreurl(this,{i:'139',query:'',subject_id:'2264207',from:'music_subject_search'})" title="蔡健雅... - GOODBYE &amp; HELLO"  >
                <img src="https://img1.doubanio.com/spic/s27067658.jpg" alt="蔡健雅... - GOODBYE &amp; HELLO"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2264207/" onclick="moreurl(this,{i:'139',query:'',subject_id:'2264207',from:'music_subject_search'})" >
            GOODBYE &amp; HELLO
       </a>

            <p class="pl">蔡健雅,Tanya / 2007-10-19 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            24465人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2264207"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/6064884/" onclick="moreurl(this,{i:'140',query:'',subject_id:'6064884',from:'music_subject_search'})" title="Adele - Someone Like You"  >
                <img src="https://img3.doubanio.com/spic/s4689205.jpg" alt="Adele - Someone Like You"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/6064884/" onclick="moreurl(this,{i:'140',query:'',subject_id:'6064884',from:'music_subject_search'})" >
            Someone Like You
                <span style="font-size:12px;">另觅沧海</span>
       </a>

            <p class="pl">Adele / 2011-01-24 / 单曲 / 数字(Digital)</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            22955人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_6064884"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1875211/" onclick="moreurl(this,{i:'141',query:'',subject_id:'1875211',from:'music_subject_search'})" title="苏打绿 - 迟到千年"  >
                <img src="https://img3.doubanio.com/spic/s4567536.jpg" alt="苏打绿 - 迟到千年"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1875211/" onclick="moreurl(this,{i:'141',query:'',subject_id:'1875211',from:'music_subject_search'})" >
            迟到千年
       </a>

            <p class="pl">苏打绿 / 2006-09-18 / EP / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            23520人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1875211"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395685/" onclick="moreurl(this,{i:'142',query:'',subject_id:'1395685',from:'music_subject_search'})" title="Pink Floyd - The Dark Side of the Moon"  >
                <img src="https://img3.doubanio.com/spic/s1476691.jpg" alt="Pink Floyd - The Dark Side of the Moon"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395685/" onclick="moreurl(this,{i:'142',query:'',subject_id:'1395685',from:'music_subject_search'})" >
            The Dark Side of the Moon
       </a>

            <p class="pl">Pink Floyd / 1973 / 专辑 / 黑胶 / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            23492人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395685"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3837067/" onclick="moreurl(this,{i:'143',query:'',subject_id:'3837067',from:'music_subject_search'})" title="王菲 - 王菲 2001"  >
                <img src="https://img3.doubanio.com/spic/s27066361.jpg" alt="王菲 - 王菲 2001"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3837067/" onclick="moreurl(this,{i:'143',query:'',subject_id:'3837067',from:'music_subject_search'})" >
            王菲 2001
                <span style="font-size:12px;">Faye Wong 2001</span>
       </a>

            <p class="pl">王菲 / 2001 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            23190人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3837067"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/6974122/" onclick="moreurl(this,{i:'144',query:'',subject_id:'6974122',from:'music_subject_search'})" title="逃跑计划 - 夜空中最亮的星"  >
                <img src="https://img3.doubanio.com/spic/s7050455.jpg" alt="逃跑计划 - 夜空中最亮的星"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/6974122/" onclick="moreurl(this,{i:'144',query:'',subject_id:'6974122',from:'music_subject_search'})" >
            夜空中最亮的星
       </a>

            <p class="pl">逃跑计划 / 2011-04-12 / 单曲 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            22704人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_6974122"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/6047523/" onclick="moreurl(this,{i:'145',query:'',subject_id:'6047523',from:'music_subject_search'})" title="GALA - 追梦痴子心"  >
                <img src="https://img1.doubanio.com/spic/s26743139.jpg" alt="GALA - 追梦痴子心"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/6047523/" onclick="moreurl(this,{i:'145',query:'',subject_id:'6047523',from:'music_subject_search'})" >
            追梦痴子心
       </a>

            <p class="pl">GALA / 2011-03-24 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            23631人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_6047523"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4884299/" onclick="moreurl(this,{i:'146',query:'',subject_id:'4884299',from:'music_subject_search'})" title="莫文蔚 - 宝贝"  >
                <img src="https://img3.doubanio.com/spic/s4425103.jpg" alt="莫文蔚 - 宝贝"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4884299/" onclick="moreurl(this,{i:'146',query:'',subject_id:'4884299',from:'music_subject_search'})" >
            宝贝
       </a>

            <p class="pl">莫文蔚 / 2010-07-26 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.9</span>
                <span class="pl">
                    (
                            24990人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4884299"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1401759/" onclick="moreurl(this,{i:'147',query:'',subject_id:'1401759',from:'music_subject_search'})" title="陈奕迅 - 黑白灰"  >
                <img src="https://img3.doubanio.com/spic/s4088274.jpg" alt="陈奕迅 - 黑白灰"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1401759/" onclick="moreurl(this,{i:'147',query:'',subject_id:'1401759',from:'music_subject_search'})" >
            黑白灰
                <span style="font-size:12px;">Black, White &amp; Grey / 黑·白·灰</span>
       </a>

            <p class="pl">陈奕迅 / 2003 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            22677人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1401759"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/25709562/" onclick="moreurl(this,{i:'148',query:'',subject_id:'25709562',from:'music_subject_search'})" title="宋冬野 - 安和桥北"  >
                <img src="https://img1.doubanio.com/spic/s27029428.jpg" alt="宋冬野 - 安和桥北"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/25709562/" onclick="moreurl(this,{i:'148',query:'',subject_id:'25709562',from:'music_subject_search'})" >
            安和桥北
                <span style="font-size:12px;">献给张先诺先生</span>
       </a>

            <p class="pl">宋冬野 / 2013-08-26 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            23876人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_25709562"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3035043/" onclick="moreurl(this,{i:'149',query:'',subject_id:'3035043',from:'music_subject_search'})" title="宇多田ヒカル - Prisoner of Love"  >
                <img src="https://img3.doubanio.com/spic/s3104656.jpg" alt="宇多田ヒカル - Prisoner of Love"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3035043/" onclick="moreurl(this,{i:'149',query:'',subject_id:'3035043',from:'music_subject_search'})" >
            Prisoner of Love
                <span style="font-size:12px;">爱情的俘虏</span>
       </a>

            <p class="pl">宇多田ヒカル / 2008-05-21 / CD IMPORT / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            22238人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3035043"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=100"/>
            <a href="https://music.douban.com/top250?start=100" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                <span class="thispage" data-total-page="10">6</span>
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=150"/>
            <a href="https://music.douban.com/top250?start=150" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐 Top 250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- sindar10c-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


