<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐 Top 250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/music/6276708bd0b43f4891f02f84a0c66e5241bea03e/css/music/init.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/15d842e2bad0735f4595729e992e3f13e3a00049/css/music/_init_.css"/>

    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
  <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="slogan">我们的精神角落</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/time&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://dongxi.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-commodity&quot;,&quot;uid&quot;:&quot;0&quot;}">东西</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://www.douban.com/wetware/"
     >潮潮豆瓣音乐周</a>
    </li>
    <li    ><a href="https://music.douban.com/artists/royalty/"
     >金羊毛计划</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://douban.fm/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://douban.fm/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://artist.douban.com/abilu/2016"
     >阿比鹿音乐奖</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐 Top 250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1458367/" onclick="moreurl(this,{i:'175',query:'',subject_id:'1458367',from:'music_subject_search'})" title="Coldplay - Yellow"  >
                <img src="https://img3.doubanio.com/spic/s4087364.jpg" alt="Coldplay - Yellow"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1458367/" onclick="moreurl(this,{i:'175',query:'',subject_id:'1458367',from:'music_subject_search'})" >
            Yellow
                <span style="font-size:12px;">黄色</span>
       </a>

            <p class="pl">Coldplay / 2000-07-03 / EP / Audio CD</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            20479人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1458367"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395452/" onclick="moreurl(this,{i:'176',query:'',subject_id:'1395452',from:'music_subject_search'})" title="Keane - Hopes And Fears"  >
                <img src="https://img3.doubanio.com/spic/s1492974.jpg" alt="Keane - Hopes And Fears"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395452/" onclick="moreurl(this,{i:'176',query:'',subject_id:'1395452',from:'music_subject_search'})" >
            Hopes And Fears
       </a>

            <p class="pl">Keane / 2004 / 专辑 / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            20586人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395452"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394541/" onclick="moreurl(this,{i:'177',query:'',subject_id:'1394541',from:'music_subject_search'})" title="陈奕迅 - U87"  >
                <img src="https://img3.doubanio.com/spic/s3856032.jpg" alt="陈奕迅 - U87"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394541/" onclick="moreurl(this,{i:'177',query:'',subject_id:'1394541',from:'music_subject_search'})" >
            U87
       </a>

            <p class="pl">陈奕迅 / 2005-06-07 / 专辑 / CD+DVD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            20108人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394541"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1419566/" onclick="moreurl(this,{i:'178',query:'',subject_id:'1419566',from:'music_subject_search'})" title="Maximilian Hecker - Lady Sleep"  >
                <img src="https://img1.doubanio.com/spic/s1794177.jpg" alt="Maximilian Hecker - Lady Sleep"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1419566/" onclick="moreurl(this,{i:'178',query:'',subject_id:'1419566',from:'music_subject_search'})" >
            Lady Sleep
       </a>

            <a class="start_radio" target="_blank" title="试听" href="https://music.douban.com/subject/1419566/?auto_play=1#link-report"></a>
            <p class="pl">Maximilian Hecker / 2005 / Import / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            20643人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1419566"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395762/" onclick="moreurl(this,{i:'179',query:'',subject_id:'1395762',from:'music_subject_search'})" title="久石譲(Joe Hisaishi)... - 天空の城ラピュタ サウンドトラック 飛行石の謎"  >
                <img src="https://img3.doubanio.com/spic/s1489321.jpg" alt="久石譲(Joe Hisaishi)... - 天空の城ラピュタ サウンドトラック 飛行石の謎"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395762/" onclick="moreurl(this,{i:'179',query:'',subject_id:'1395762',from:'music_subject_search'})" >
            天空の城ラピュタ サウンドトラック 飛行石の謎
                <span style="font-size:12px;">天空之城 原声碟</span>
       </a>

            <a class="start_radio" target="_blank" title="试听" href="https://music.douban.com/subject/1395762/?auto_play=1#link-report"></a>
            <p class="pl">久石譲(Joe Hisaishi),杉並児童合唱団,井上杏美 / 1993-12-21 / Soundtrack / Audio CD / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            19401人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395762"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394742/" onclick="moreurl(this,{i:'180',query:'',subject_id:'1394742',from:'music_subject_search'})" title="崔健 - 新长征路上的摇滚"  >
                <img src="https://img3.doubanio.com/spic/s8868552.jpg" alt="崔健 - 新长征路上的摇滚"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394742/" onclick="moreurl(this,{i:'180',query:'',subject_id:'1394742',from:'music_subject_search'})" >
            新长征路上的摇滚
       </a>

            <p class="pl">崔健 / 1989 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            20076人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394742"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3567851/" onclick="moreurl(this,{i:'181',query:'',subject_id:'3567851',from:'music_subject_search'})" title="棉花糖... - 小飞行"  >
                <img src="https://img3.doubanio.com/spic/s4715963.jpg" alt="棉花糖... - 小飞行"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3567851/" onclick="moreurl(this,{i:'181',query:'',subject_id:'3567851',from:'music_subject_search'})" >
            小飞行
       </a>

            <p class="pl">棉花糖,katncandix2 / 2009-05-01 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.9</span>
                <span class="pl">
                    (
                            21855人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3567851"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/10831759/" onclick="moreurl(this,{i:'182',query:'',subject_id:'10831759',from:'music_subject_search'})" title="好妹妹乐队 - 春生"  >
                <img src="https://img1.doubanio.com/spic/s11095208.jpg" alt="好妹妹乐队 - 春生"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/10831759/" onclick="moreurl(this,{i:'182',query:'',subject_id:'10831759',from:'music_subject_search'})" >
            春生
       </a>

            <p class="pl">好妹妹乐队 / 2012-07-01 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            20322人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_10831759"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1788941/" onclick="moreurl(this,{i:'183',query:'',subject_id:'1788941',from:'music_subject_search'})" title="陈绮贞 - 讓我想一想"  >
                <img src="https://img3.doubanio.com/spic/s3821060.jpg" alt="陈绮贞 - 讓我想一想"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1788941/" onclick="moreurl(this,{i:'183',query:'',subject_id:'1788941',from:'music_subject_search'})" >
            讓我想一想
                <span style="font-size:12px;">让我想一想</span>
       </a>

            <p class="pl">陈绮贞 / 1998-07-14 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            19971人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1788941"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2359692/" onclick="moreurl(this,{i:'184',query:'',subject_id:'2359692',from:'music_subject_search'})" title="方大同 - 未来"  >
                <img src="https://img3.doubanio.com/spic/s2839973.jpg" alt="方大同 - 未来"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2359692/" onclick="moreurl(this,{i:'184',query:'',subject_id:'2359692',from:'music_subject_search'})" >
            未来
                <span style="font-size:12px;">Wonderland</span>
       </a>

            <p class="pl">方大同 / 2007-12-28 / 专辑 / CD / 放克/灵歌/R&amp;B</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            21010人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2359692"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1950025/" onclick="moreurl(this,{i:'185',query:'',subject_id:'1950025',from:'music_subject_search'})" title="方大同 - 爱爱爱"  >
                <img src="https://img3.doubanio.com/spic/s1981880.jpg" alt="方大同 - 爱爱爱"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1950025/" onclick="moreurl(this,{i:'185',query:'',subject_id:'1950025',from:'music_subject_search'})" >
            爱爱爱
                <span style="font-size:12px;">愛愛愛 / THIS LOVE</span>
       </a>

            <p class="pl">方大同 / 2006-12 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            20342人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1950025"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/10430415/" onclick="moreurl(this,{i:'186',query:'',subject_id:'10430415',from:'music_subject_search'})" title="逃跑计划 - 世界"  >
                <img src="https://img1.doubanio.com/spic/s28104019.jpg" alt="逃跑计划 - 世界"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/10430415/" onclick="moreurl(this,{i:'186',query:'',subject_id:'10430415',from:'music_subject_search'})" >
            世界
                <span style="font-size:12px;">Earth</span>
       </a>

            <p class="pl">逃跑计划 / 2011-12-31 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            19878人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_10430415"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4032611/" onclick="moreurl(this,{i:'187',query:'',subject_id:'4032611',from:'music_subject_search'})" title="卢广仲 - 七天"  >
                <img src="https://img3.doubanio.com/spic/s4039256.jpg" alt="卢广仲 - 七天"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4032611/" onclick="moreurl(this,{i:'187',query:'',subject_id:'4032611',from:'music_subject_search'})" >
            七天
                <span style="font-size:12px;">盧廣仲 Crowd Lu 2009 New Album 2009 全新創作專輯</span>
       </a>

            <p class="pl">卢广仲 / 2009-10-30 / 专辑 / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.8</span>
                <span class="pl">
                    (
                            21574人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4032611"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1416697/" onclick="moreurl(this,{i:'188',query:'',subject_id:'1416697',from:'music_subject_search'})" title="Nirvana - Nirvana"  >
                <img src="https://img3.doubanio.com/spic/s3020073.jpg" alt="Nirvana - Nirvana"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1416697/" onclick="moreurl(this,{i:'188',query:'',subject_id:'1416697',from:'music_subject_search'})" >
            Nirvana
       </a>

            <p class="pl">Nirvana / 2002-10-29 / Extra tracks / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            19150人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1416697"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1455695/" onclick="moreurl(this,{i:'189',query:'',subject_id:'1455695',from:'music_subject_search'})" title="Coldplay - A Rush of  Blood to the Head"  >
                <img src="https://img3.doubanio.com/spic/s8904216.jpg" alt="Coldplay - A Rush of  Blood to the Head"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1455695/" onclick="moreurl(this,{i:'189',query:'',subject_id:'1455695',from:'music_subject_search'})" >
            A Rush of  Blood to the Head
                <span style="font-size:12px;">玩过头</span>
       </a>

            <p class="pl">Coldplay / 2002 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            20074人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1455695"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1986653/" onclick="moreurl(this,{i:'190',query:'',subject_id:'1986653',from:'music_subject_search'})" title="The Velvet Underground... - The Velvet Underground &amp; Nico"  >
                <img src="https://img3.doubanio.com/spic/s1883423.jpg" alt="The Velvet Underground... - The Velvet Underground &amp; Nico"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1986653/" onclick="moreurl(this,{i:'190',query:'',subject_id:'1986653',from:'music_subject_search'})" >
            The Velvet Underground &amp; Nico
                <span style="font-size:12px;">地下丝绒与妮可</span>
       </a>

            <p class="pl">The Velvet Underground,Nico / 1967-04 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            19653人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1986653"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/5322559/" onclick="moreurl(this,{i:'191',query:'',subject_id:'5322559',from:'music_subject_search'})" title="Eminem... - Love The Way You Lie"  >
                <img src="https://img1.doubanio.com/spic/s4420058.jpg" alt="Eminem... - Love The Way You Lie"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/5322559/" onclick="moreurl(this,{i:'191',query:'',subject_id:'5322559',from:'music_subject_search'})" >
            Love The Way You Lie
                <span style="font-size:12px;">爱你说谎的方式 / 爱你躺</span>
       </a>

            <p class="pl">Eminem,Rihanna / 2010-08-20 / Single / Audio CD / 说唱</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            19197人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_5322559"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1776070/" onclick="moreurl(this,{i:'192',query:'',subject_id:'1776070',from:'music_subject_search'})" title="王菲 - 天空"  >
                <img src="https://img3.doubanio.com/spic/s3681285.jpg" alt="王菲 - 天空"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1776070/" onclick="moreurl(this,{i:'192',query:'',subject_id:'1776070',from:'music_subject_search'})" >
            天空
       </a>

            <p class="pl">王菲 / 1994 / Import / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            19140人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1776070"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3788747/" onclick="moreurl(this,{i:'193',query:'',subject_id:'3788747',from:'music_subject_search'})" title="Original Soundtrack - The Boat That Rocked"  >
                <img src="https://img3.doubanio.com/spic/s4194004.jpg" alt="Original Soundtrack - The Boat That Rocked"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3788747/" onclick="moreurl(this,{i:'193',query:'',subject_id:'3788747',from:'music_subject_search'})" >
            The Boat That Rocked
                <span style="font-size:12px;">海盗电台</span>
       </a>

            <p class="pl">Original Soundtrack / 2009-03-30 / Import / Soundtrack / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            18908人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3788747"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395617/" onclick="moreurl(this,{i:'194',query:'',subject_id:'1395617',from:'music_subject_search'})" title="Oasis - (What&#39;s The Story) Morning Glory?"  >
                <img src="https://img3.doubanio.com/spic/s1944493.jpg" alt="Oasis - (What&#39;s The Story) Morning Glory?"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395617/" onclick="moreurl(this,{i:'194',query:'',subject_id:'1395617',from:'music_subject_search'})" >
            (What&#39;s The Story) Morning Glory?
       </a>

            <a class="start_radio" target="_blank" title="试听" href="https://music.douban.com/subject/1395617/?auto_play=1#link-report"></a>
            <p class="pl">Oasis / 1995 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            19268人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395617"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1982538/" onclick="moreurl(this,{i:'195',query:'',subject_id:'1982538',from:'music_subject_search'})" title="陈绮贞 - PUSSY"  >
                <img src="https://img3.doubanio.com/spic/s2144095.jpg" alt="陈绮贞 - PUSSY"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1982538/" onclick="moreurl(this,{i:'195',query:'',subject_id:'1982538',from:'music_subject_search'})" >
            PUSSY
       </a>

            <p class="pl">陈绮贞 / 2007-02-08 / 单曲 / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            19696人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1982538"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1421569/" onclick="moreurl(this,{i:'196',query:'',subject_id:'1421569',from:'music_subject_search'})" title="Salyu - 呼吸"  >
                <img src="https://img1.doubanio.com/spic/s2714357.jpg" alt="Salyu - 呼吸"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1421569/" onclick="moreurl(this,{i:'196',query:'',subject_id:'1421569',from:'music_subject_search'})" >
            呼吸
                <span style="font-size:12px;">Breathe - All About Lily Chou-Chou / Lily Chou-Chou：呼吸</span>
       </a>

            <p class="pl">Salyu / 2001 / 专辑 / CD / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            19193人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1421569"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394997/" onclick="moreurl(this,{i:'197',query:'',subject_id:'1394997',from:'music_subject_search'})" title="Evanescence - Fallen"  >
                <img src="https://img3.doubanio.com/spic/s2189392.jpg" alt="Evanescence - Fallen"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394997/" onclick="moreurl(this,{i:'197',query:'',subject_id:'1394997',from:'music_subject_search'})" >
            Fallen
       </a>

            <p class="pl">Evanescence / 2003 / 专辑 / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            19952人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394997"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1413627/" onclick="moreurl(this,{i:'198',query:'',subject_id:'1413627',from:'music_subject_search'})" title="黑豹 - 黑豹"  >
                <img src="https://img3.doubanio.com/spic/s1401153.jpg" alt="黑豹 - 黑豹"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1413627/" onclick="moreurl(this,{i:'198',query:'',subject_id:'1413627',from:'music_subject_search'})" >
            黑豹
       </a>

            <p class="pl">黑豹 / 1992-12-01 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            19091人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1413627"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4923069/" onclick="moreurl(this,{i:'199',query:'',subject_id:'4923069',from:'music_subject_search'})" title="苏打绿 - 十年一刻"  >
                <img src="https://img1.doubanio.com/spic/s4424848.jpg" alt="苏打绿 - 十年一刻"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4923069/" onclick="moreurl(this,{i:'199',query:'',subject_id:'4923069',from:'music_subject_search'})" >
            十年一刻
       </a>

            <p class="pl">苏打绿 / 2010-08-27 / 视频 / CD+DVD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            19422人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4923069"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=150"/>
            <a href="https://music.douban.com/top250?start=150" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                <span class="thispage" data-total-page="10">8</span>
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=200"/>
            <a href="https://music.douban.com/top250?start=200" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐 Top 250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis10-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


