<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐 Top 250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/music/6276708bd0b43f4891f02f84a0c66e5241bea03e/css/music/init.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/15d842e2bad0735f4595729e992e3f13e3a00049/css/music/_init_.css"/>

    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
  <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="slogan">我们的精神角落</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/time&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://dongxi.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-commodity&quot;,&quot;uid&quot;:&quot;0&quot;}">东西</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://www.douban.com/wetware/"
     >潮潮豆瓣音乐周</a>
    </li>
    <li    ><a href="https://music.douban.com/artists/royalty/"
     >金羊毛计划</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://douban.fm/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://douban.fm/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://artist.douban.com/abilu/2016"
     >阿比鹿音乐奖</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐 Top 250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4738592/" onclick="moreurl(this,{i:'25',query:'',subject_id:'4738592',from:'music_subject_search'})" title="林宥嘉 - 感官/世界"  >
                <img src="https://img3.doubanio.com/spic/s4039591.jpg" alt="林宥嘉 - 感官/世界"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4738592/" onclick="moreurl(this,{i:'25',query:'',subject_id:'4738592',from:'music_subject_search'})" >
            感官/世界
                <span style="font-size:12px;">Senses Around</span>
       </a>

            <p class="pl">林宥嘉 / 2009-10-30 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            46907人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4738592"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394568/" onclick="moreurl(this,{i:'26',query:'',subject_id:'1394568',from:'music_subject_search'})" title="Nirvana - Nevermind"  >
                <img src="https://img3.doubanio.com/spic/s1632580.jpg" alt="Nirvana - Nevermind"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394568/" onclick="moreurl(this,{i:'26',query:'',subject_id:'1394568',from:'music_subject_search'})" >
            Nevermind
       </a>

            <p class="pl">Nirvana / 1991 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            43258人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394568"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1403832/" onclick="moreurl(this,{i:'27',query:'',subject_id:'1403832',from:'music_subject_search'})" title="周杰伦 - 八度空间"  >
                <img src="https://img3.doubanio.com/spic/s4598636.jpg" alt="周杰伦 - 八度空间"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1403832/" onclick="moreurl(this,{i:'27',query:'',subject_id:'1403832',from:'music_subject_search'})" >
            八度空间
                <span style="font-size:12px;">The Eight Dimensions</span>
       </a>

            <p class="pl">周杰伦 / 2002-07-19 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            44978人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1403832"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1422300/" onclick="moreurl(this,{i:'28',query:'',subject_id:'1422300',from:'music_subject_search'})" title="周杰伦 - Jay"  >
                <img src="https://img3.doubanio.com/spic/s3120265.jpg" alt="周杰伦 - Jay"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1422300/" onclick="moreurl(this,{i:'28',query:'',subject_id:'1422300',from:'music_subject_search'})" >
            Jay
       </a>

            <p class="pl">周杰伦 / 2000-11-13 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            43465人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1422300"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1463061/" onclick="moreurl(this,{i:'29',query:'',subject_id:'1463061',from:'music_subject_search'})" title="Coldplay - Parachutes"  >
                <img src="https://img3.doubanio.com/spic/s1400723.jpg" alt="Coldplay - Parachutes"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1463061/" onclick="moreurl(this,{i:'29',query:'',subject_id:'1463061',from:'music_subject_search'})" >
            Parachutes
       </a>

            <p class="pl">Coldplay / 2000-07-10 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            42808人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1463061"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1405028/" onclick="moreurl(this,{i:'30',query:'',subject_id:'1405028',from:'music_subject_search'})" title="孙燕姿 - 我要的幸福"  >
                <img src="https://img3.doubanio.com/spic/s3524071.jpg" alt="孙燕姿 - 我要的幸福"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1405028/" onclick="moreurl(this,{i:'30',query:'',subject_id:'1405028',from:'music_subject_search'})" >
            我要的幸福
                <span style="font-size:12px;">My Desired Happiness</span>
       </a>

            <p class="pl">孙燕姿 / 2000-12-7 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            41919人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1405028"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394547/" onclick="moreurl(this,{i:'31',query:'',subject_id:'1394547',from:'music_subject_search'})" title="陈绮贞 - 还是会寂寞"  >
                <img src="https://img1.doubanio.com/spic/s27076587.jpg" alt="陈绮贞 - 还是会寂寞"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394547/" onclick="moreurl(this,{i:'31',query:'',subject_id:'1394547',from:'music_subject_search'})" >
            还是会寂寞
                <span style="font-size:12px;">还是会寂寞</span>
       </a>

            <p class="pl">陈绮贞 / 2000 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            41363人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394547"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394992/" onclick="moreurl(this,{i:'32',query:'',subject_id:'1394992',from:'music_subject_search'})" title="Avril Lavigne - Let Go"  >
                <img src="https://img3.doubanio.com/spic/s2652911.jpg" alt="Avril Lavigne - Let Go"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394992/" onclick="moreurl(this,{i:'32',query:'',subject_id:'1394992',from:'music_subject_search'})" >
            Let Go
                <span style="font-size:12px;">展翅高飞</span>
       </a>

            <p class="pl">Avril Lavigne / 2002 / Enhanced / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            42049人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394992"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1436975/" onclick="moreurl(this,{i:'33',query:'',subject_id:'1436975',from:'music_subject_search'})" title="周杰伦 - 十一月的萧邦"  >
                <img src="https://img3.doubanio.com/spic/s1456874.jpg" alt="周杰伦 - 十一月的萧邦"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1436975/" onclick="moreurl(this,{i:'33',query:'',subject_id:'1436975',from:'music_subject_search'})" >
            十一月的萧邦
                <span style="font-size:12px;">November&#39;s Chopin</span>
       </a>

            <p class="pl">周杰伦 / 2005-11-01 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.9</span>
                <span class="pl">
                    (
                            45149人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1436975"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3313612/" onclick="moreurl(this,{i:'34',query:'',subject_id:'3313612',from:'music_subject_search'})" title="方大同 - 橙月"  >
                <img src="https://img1.doubanio.com/spic/s3405037.jpg" alt="方大同 - 橙月"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3313612/" onclick="moreurl(this,{i:'34',query:'',subject_id:'3313612',from:'music_subject_search'})" >
            橙月
                <span style="font-size:12px;">Orange Moon</span>
       </a>

            <p class="pl">方大同 / 2008-12-19 / 专辑 / CD / 放克/灵歌/R&amp;B</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            42375人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3313612"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1900796/" onclick="moreurl(this,{i:'35',query:'',subject_id:'1900796',from:'music_subject_search'})" title="苏打绿 Sodagreen - 小宇宙"  >
                <img src="https://img3.doubanio.com/spic/s1883654.jpg" alt="苏打绿 Sodagreen - 小宇宙"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1900796/" onclick="moreurl(this,{i:'35',query:'',subject_id:'1900796',from:'music_subject_search'})" >
            小宇宙
       </a>

            <p class="pl">苏打绿 Sodagreen / 2006-10-20 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            41397人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1900796"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4323489/" onclick="moreurl(this,{i:'36',query:'',subject_id:'4323489',from:'music_subject_search'})" title="蔡健雅 - 若你碰到他"  >
                <img src="https://img3.doubanio.com/spic/s3942165.jpg" alt="蔡健雅 - 若你碰到他"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4323489/" onclick="moreurl(this,{i:'36',query:'',subject_id:'4323489',from:'music_subject_search'})" >
            若你碰到他
                <span style="font-size:12px;">若你碰到他</span>
       </a>

            <p class="pl">蔡健雅 / 2009-08-19 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.0</span>
                <span class="pl">
                    (
                            43939人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4323489"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394763/" onclick="moreurl(this,{i:'37',query:'',subject_id:'1394763',from:'music_subject_search'})" title="Lady &amp; Bird - Lady &amp; Bird"  >
                <img src="https://img3.doubanio.com/spic/s2376100.jpg" alt="Lady &amp; Bird - Lady &amp; Bird"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394763/" onclick="moreurl(this,{i:'37',query:'',subject_id:'1394763',from:'music_subject_search'})" >
            Lady &amp; Bird
       </a>

            <p class="pl">Lady &amp; Bird / 2003 / Import / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            40946人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394763"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/5344708/" onclick="moreurl(this,{i:'38',query:'',subject_id:'5344708',from:'music_subject_search'})" title="万能青年旅店 - 万能青年旅店"  >
                <img src="https://img1.doubanio.com/spic/s4614409.jpg" alt="万能青年旅店 - 万能青年旅店"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/5344708/" onclick="moreurl(this,{i:'38',query:'',subject_id:'5344708',from:'music_subject_search'})" >
            万能青年旅店
       </a>

            <p class="pl">万能青年旅店 / 2010-11-12 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            40721人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_5344708"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395785/" onclick="moreurl(this,{i:'39',query:'',subject_id:'1395785',from:'music_subject_search'})" title="Linkin Park - Meteora"  >
                <img src="https://img1.doubanio.com/spic/s1401378.jpg" alt="Linkin Park - Meteora"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395785/" onclick="moreurl(this,{i:'39',query:'',subject_id:'1395785',from:'music_subject_search'})" >
            Meteora
                <span style="font-size:12px;">流星圣殿</span>
       </a>

            <p class="pl">Linkin Park / 2003-03-25 / Enhanced / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            39925人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395785"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1401550/" onclick="moreurl(this,{i:'40',query:'',subject_id:'1401550',from:'music_subject_search'})" title="James Blunt - Back To Bedlam"  >
                <img src="https://img3.doubanio.com/spic/s1461123.jpg" alt="James Blunt - Back To Bedlam"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1401550/" onclick="moreurl(this,{i:'40',query:'',subject_id:'1401550',from:'music_subject_search'})" >
            Back To Bedlam
                <span style="font-size:12px;">不安於室</span>
       </a>

            <p class="pl">James Blunt / 2004 / Explicit Lyrics / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            39865人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1401550"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1421488/" onclick="moreurl(this,{i:'41',query:'',subject_id:'1421488',from:'music_subject_search'})" title="苏打绿... - 苏打绿"  >
                <img src="https://img3.doubanio.com/spic/s2360790.jpg" alt="苏打绿... - 苏打绿"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1421488/" onclick="moreurl(this,{i:'41',query:'',subject_id:'1421488',from:'music_subject_search'})" >
            苏打绿
       </a>

            <p class="pl">苏打绿,蘇打綠 / 2005年9月 / 国语 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            40652人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1421488"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3427630/" onclick="moreurl(this,{i:'42',query:'',subject_id:'3427630',from:'music_subject_search'})" title="梁静茹 - 静茹&amp;情歌 别再为他流泪"  >
                <img src="https://img3.doubanio.com/spic/s3551584.jpg" alt="梁静茹 - 静茹&amp;情歌 别再为他流泪"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3427630/" onclick="moreurl(this,{i:'42',query:'',subject_id:'3427630',from:'music_subject_search'})" >
            静茹&amp;情歌 别再为他流泪
                <span style="font-size:12px;">别再为他流泪</span>
       </a>

            <p class="pl">梁静茹 / 2009-01-16 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.4</span>
                <span class="pl">
                    (
                            41366人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3427630"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/6113840/" onclick="moreurl(this,{i:'43',query:'',subject_id:'6113840',from:'music_subject_search'})" title="林宥嘉 - 美妙生活"  >
                <img src="https://img3.doubanio.com/spic/s6201192.jpg" alt="林宥嘉 - 美妙生活"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/6113840/" onclick="moreurl(this,{i:'43',query:'',subject_id:'6113840',from:'music_subject_search'})" >
            美妙生活
                <span style="font-size:12px;">Perfect Life</span>
       </a>

            <p class="pl">林宥嘉 / 2011-05-06 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            40085人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_6113840"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394798/" onclick="moreurl(this,{i:'44',query:'',subject_id:'1394798',from:'music_subject_search'})" title="Yann Tiersen - Le Fabuleux destin d&#39;Amélie Poulain"  >
                <img src="https://img1.doubanio.com/spic/s2881998.jpg" alt="Yann Tiersen - Le Fabuleux destin d&#39;Amélie Poulain"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394798/" onclick="moreurl(this,{i:'44',query:'',subject_id:'1394798',from:'music_subject_search'})" >
            Le Fabuleux destin d&#39;Amélie Poulain
                <span style="font-size:12px;">天使爱美丽</span>
       </a>

            <p class="pl">Yann Tiersen / 2001-04-23 / Soundtrack / Audio CD</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            37403人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394798"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3335374/" onclick="moreurl(this,{i:'45',query:'',subject_id:'3335374',from:'music_subject_search'})" title="王若琳 - Joanna &amp; 王若琳"  >
                <img src="https://img3.doubanio.com/spic/s3550503.jpg" alt="王若琳 - Joanna &amp; 王若琳"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3335374/" onclick="moreurl(this,{i:'45',query:'',subject_id:'3335374',from:'music_subject_search'})" >
            Joanna &amp; 王若琳
       </a>

            <p class="pl">王若琳 / 2009-01-16 / 专辑 / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.1</span>
                <span class="pl">
                    (
                            40124人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3335374"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1776145/" onclick="moreurl(this,{i:'46',query:'',subject_id:'1776145',from:'music_subject_search'})" title="Tamas Wells - A Plea En Vendredi"  >
                <img src="https://img3.doubanio.com/spic/s2783063.jpg" alt="Tamas Wells - A Plea En Vendredi"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1776145/" onclick="moreurl(this,{i:'46',query:'',subject_id:'1776145',from:'music_subject_search'})" >
            A Plea En Vendredi
       </a>

            <a class="start_radio" target="_blank" title="试听" href="https://music.douban.com/subject/1776145/?auto_play=1#link-report"></a>
            <p class="pl">Tamas Wells / 2006 / Import / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            37140人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1776145"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4935955/" onclick="moreurl(this,{i:'47',query:'',subject_id:'4935955',from:'music_subject_search'})" title="田馥甄（Hebe） - To Hebe"  >
                <img src="https://img3.doubanio.com/spic/s4466905.jpg" alt="田馥甄（Hebe） - To Hebe"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4935955/" onclick="moreurl(this,{i:'47',query:'',subject_id:'4935955',from:'music_subject_search'})" >
            To Hebe
                <span style="font-size:12px;">給 自己</span>
       </a>

            <p class="pl">田馥甄（Hebe） / 2010-09-03 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.0</span>
                <span class="pl">
                    (
                            39912人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4935955"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2009904/" onclick="moreurl(this,{i:'48',query:'',subject_id:'2009904',from:'music_subject_search'})" title="孙燕姿 - 逆光"  >
                <img src="https://img3.doubanio.com/spic/s2333326.jpg" alt="孙燕姿 - 逆光"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2009904/" onclick="moreurl(this,{i:'48',query:'',subject_id:'2009904',from:'music_subject_search'})" >
            逆光
                <span style="font-size:12px;">Against the Light</span>
       </a>

            <p class="pl">孙燕姿 / 2007-03-22 / Import / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            39039人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2009904"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3590980/" onclick="moreurl(this,{i:'49',query:'',subject_id:'3590980',from:'music_subject_search'})" title="王菲 - 只爱陌生人"  >
                <img src="https://img1.doubanio.com/spic/s3390958.jpg" alt="王菲 - 只爱陌生人"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3590980/" onclick="moreurl(this,{i:'49',query:'',subject_id:'3590980',from:'music_subject_search'})" >
            只爱陌生人
       </a>

            <p class="pl">王菲 / 1999-09-10 / Import / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            35765人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3590980"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=0"/>
            <a href="https://music.douban.com/top250?start=0" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                <span class="thispage" data-total-page="10">2</span>
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=50"/>
            <a href="https://music.douban.com/top250?start=50" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐 Top 250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- daisy1b-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


