<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐 Top 250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/music/6276708bd0b43f4891f02f84a0c66e5241bea03e/css/music/init.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/15d842e2bad0735f4595729e992e3f13e3a00049/css/music/_init_.css"/>

    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
  <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="slogan">我们的精神角落</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/time&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://dongxi.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-commodity&quot;,&quot;uid&quot;:&quot;0&quot;}">东西</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




       



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://www.douban.com/wetware/"
     >潮潮豆瓣音乐周</a>
    </li>
    <li    ><a href="https://music.douban.com/artists/royalty/"
     >金羊毛计划</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://douban.fm/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://douban.fm/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://artist.douban.com/abilu/2016"
     >阿比鹿音乐奖</a>
    </li>
  </ul>
</div>

  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐 Top 250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1406256/" onclick="moreurl(this,{i:'75',query:'',subject_id:'1406256',from:'music_subject_search'})" title="孙燕姿 - Stefanie"  >
                <img src="https://img3.doubanio.com/spic/s1418840.jpg" alt="孙燕姿 - Stefanie"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1406256/" onclick="moreurl(this,{i:'75',query:'',subject_id:'1406256',from:'music_subject_search'})" >
            Stefanie
       </a>

            <p class="pl">孙燕姿 / 2004-10-1 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            33460人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1406256"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3179585/" onclick="moreurl(this,{i:'76',query:'',subject_id:'3179585',from:'music_subject_search'})" title="Lady Gaga - The Fame"  >
                <img src="https://img3.doubanio.com/spic/s3224590.jpg" alt="Lady Gaga - The Fame"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3179585/" onclick="moreurl(this,{i:'76',query:'',subject_id:'3179585',from:'music_subject_search'})" >
            The Fame
       </a>

            <p class="pl">Lady Gaga / 2008-08-19 / Import / Audio CD / 电子</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            34334人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3179585"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1823439/" onclick="moreurl(this,{i:'77',query:'',subject_id:'1823439',from:'music_subject_search'})" title="Jason Mraz - Mr. A-Z"  >
                <img src="https://img3.doubanio.com/spic/s2761461.jpg" alt="Jason Mraz - Mr. A-Z"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1823439/" onclick="moreurl(this,{i:'77',query:'',subject_id:'1823439',from:'music_subject_search'})" >
            Mr. A-Z
                <span style="font-size:12px;">英语老师</span>
       </a>

            <p class="pl">Jason Mraz / 2005-07-04 / Import / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            31940人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1823439"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1948359/" onclick="moreurl(this,{i:'78',query:'',subject_id:'1948359',from:'music_subject_search'})" title="五月天 - 为爱而生"  >
                <img src="https://img3.doubanio.com/spic/s1959251.jpg" alt="五月天 - 为爱而生"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1948359/" onclick="moreurl(this,{i:'78',query:'',subject_id:'1948359',from:'music_subject_search'})" >
            为爱而生
                <span style="font-size:12px;">為愛而生 / BORN TO LOVE</span>
       </a>

            <p class="pl">五月天 / 2006-12-28 / 引进版 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.4</span>
                <span class="pl">
                    (
                            32990人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1948359"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1421922/" onclick="moreurl(this,{i:'79',query:'',subject_id:'1421922',from:'music_subject_search'})" title="Daniel Powter - Daniel Powter"  >
                <img src="https://img1.doubanio.com/spic/s1661548.jpg" alt="Daniel Powter - Daniel Powter"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1421922/" onclick="moreurl(this,{i:'79',query:'',subject_id:'1421922',from:'music_subject_search'})" >
            Daniel Powter
                <span style="font-size:12px;">dp</span>
       </a>

            <p class="pl">Daniel Powter / 2006 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            32163人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1421922"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3097879/" onclick="moreurl(this,{i:'80',query:'',subject_id:'3097879',from:'music_subject_search'})" title="Jason Mraz - I&#39;m Yours"  >
                <img src="https://img3.doubanio.com/spic/s9074663.jpg" alt="Jason Mraz - I&#39;m Yours"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3097879/" onclick="moreurl(this,{i:'80',query:'',subject_id:'3097879',from:'music_subject_search'})" >
            I&#39;m Yours
       </a>

            <p class="pl">Jason Mraz / 2008-12-16 / Single / Audio CD</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.4</span>
                <span class="pl">
                    (
                            30405人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3097879"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1436673/" onclick="moreurl(this,{i:'81',query:'',subject_id:'1436673',from:'music_subject_search'})" title="My Little Airport - 在动物园散步才是正经事"  >
                <img src="https://img3.doubanio.com/spic/s2552894.jpg" alt="My Little Airport - 在动物园散步才是正经事"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1436673/" onclick="moreurl(this,{i:'81',query:'',subject_id:'1436673',from:'music_subject_search'})" >
            在动物园散步才是正经事
                <span style="font-size:12px;">the ok thing to do on sunday afternoon is to toddle in the zoo</span>
       </a>

            <p class="pl">My Little Airport / 2004-08-07 / 引进版 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.2</span>
                <span class="pl">
                    (
                            33624人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1436673"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1408378/" onclick="moreurl(this,{i:'82',query:'',subject_id:'1408378',from:'music_subject_search'})" title="许巍 - 时光漫步"  >
                <img src="https://img3.doubanio.com/spic/s3839391.jpg" alt="许巍 - 时光漫步"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1408378/" onclick="moreurl(this,{i:'82',query:'',subject_id:'1408378',from:'music_subject_search'})" >
            时光漫步
                <span style="font-size:12px;">时光·漫步</span>
       </a>

            <p class="pl">许巍 / 2002 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            31431人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1408378"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1407656/" onclick="moreurl(this,{i:'83',query:'',subject_id:'1407656',from:'music_subject_search'})" title="朴树 - 生如夏花"  >
                <img src="https://img1.doubanio.com/spic/s1966937.jpg" alt="朴树 - 生如夏花"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1407656/" onclick="moreurl(this,{i:'83',query:'',subject_id:'1407656',from:'music_subject_search'})" >
            生如夏花
                <span style="font-size:12px;">Life Like Summer Flowers</span>
       </a>

            <p class="pl">朴树 / 2003 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            32007人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1407656"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1846771/" onclick="moreurl(this,{i:'84',query:'',subject_id:'1846771',from:'music_subject_search'})" title="周杰伦 - 我很忙"  >
                <img src="https://img3.doubanio.com/spic/s2753832.jpg" alt="周杰伦 - 我很忙"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1846771/" onclick="moreurl(this,{i:'84',query:'',subject_id:'1846771',from:'music_subject_search'})" >
            我很忙
                <span style="font-size:12px;">JAY CHOU ON THE RUN</span>
       </a>

            <p class="pl">周杰伦 / 2007-11-01 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.3</span>
                <span class="pl">
                    (
                            35538人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1846771"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3838018/" onclick="moreurl(this,{i:'85',query:'',subject_id:'3838018',from:'music_subject_search'})" title="苏打绿 - 夏 / 狂热"  >
                <img src="https://img3.doubanio.com/spic/s3967123.jpg" alt="苏打绿 - 夏 / 狂热"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3838018/" onclick="moreurl(this,{i:'85',query:'',subject_id:'3838018',from:'music_subject_search'})" >
            夏 / 狂热
                <span style="font-size:12px;">Fever</span>
       </a>

            <p class="pl">苏打绿 / 2009-09-11 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            32068人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3838018"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1424317/" onclick="moreurl(this,{i:'86',query:'',subject_id:'1424317',from:'music_subject_search'})" title="范晓萱 - 绝世名伶"  >
                <img src="https://img3.doubanio.com/spic/s11363103.jpg" alt="范晓萱 - 绝世名伶"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1424317/" onclick="moreurl(this,{i:'86',query:'',subject_id:'1424317',from:'music_subject_search'})" >
            绝世名伶
       </a>

            <p class="pl">范晓萱 / 2001-08-25 / 专辑 / CD / 爵士</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            30845人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1424317"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/4116446/" onclick="moreurl(this,{i:'87',query:'',subject_id:'4116446',from:'music_subject_search'})" title="曹方 - 哼一首歌 等日落"  >
                <img src="https://img3.doubanio.com/spic/s4052811.jpg" alt="曹方 - 哼一首歌 等日落"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/4116446/" onclick="moreurl(this,{i:'87',query:'',subject_id:'4116446',from:'music_subject_search'})" >
            哼一首歌 等日落
       </a>

            <p class="pl">曹方 / 2009-11-11 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.1</span>
                <span class="pl">
                    (
                            32064人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_4116446"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1408461/" onclick="moreurl(this,{i:'88',query:'',subject_id:'1408461',from:'music_subject_search'})" title="孙燕姿 - 未完成"  >
                <img src="https://img3.doubanio.com/spic/s3524013.jpg" alt="孙燕姿 - 未完成"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1408461/" onclick="moreurl(this,{i:'88',query:'',subject_id:'1408461',from:'music_subject_search'})" >
            未完成
                <span style="font-size:12px;">To Be Continued......</span>
       </a>

            <p class="pl">孙燕姿 / 2003-01-10 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            30442人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1408461"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394653/" onclick="moreurl(this,{i:'89',query:'',subject_id:'1394653',from:'music_subject_search'})" title="Radiohead - OK Computer"  >
                <img src="https://img1.doubanio.com/spic/s2789048.jpg" alt="Radiohead - OK Computer"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394653/" onclick="moreurl(this,{i:'89',query:'',subject_id:'1394653',from:'music_subject_search'})" >
            OK Computer
       </a>

            <p class="pl">Radiohead / 1997 / 专辑 / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            29492人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394653"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/10448971/" onclick="moreurl(this,{i:'90',query:'',subject_id:'10448971',from:'music_subject_search'})" title="Lana Del Rey - Born to Die"  >
                <img src="https://img1.doubanio.com/spic/s7047247.jpg" alt="Lana Del Rey - Born to Die"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/10448971/" onclick="moreurl(this,{i:'90',query:'',subject_id:'10448971',from:'music_subject_search'})" >
            Born to Die
                <span style="font-size:12px;">向死而生（大陆） / 生死相守 （台）</span>
       </a>

            <p class="pl">Lana Del Rey / 2012-01-31 / 专辑 / Audio CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            31017人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_10448971"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394664/" onclick="moreurl(this,{i:'91',query:'',subject_id:'1394664',from:'music_subject_search'})" title="Pink Floyd - The Wall"  >
                <img src="https://img3.doubanio.com/spic/s2413665.jpg" alt="Pink Floyd - The Wall"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394664/" onclick="moreurl(this,{i:'91',query:'',subject_id:'1394664',from:'music_subject_search'})" >
            The Wall
                <span style="font-size:12px;">迷墙</span>
       </a>

            <p class="pl">Pink Floyd / 1979 / 专辑 / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.1</span>
                <span class="pl">
                    (
                            28932人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394664"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3236064/" onclick="moreurl(this,{i:'92',query:'',subject_id:'3236064',from:'music_subject_search'})" title="痛仰 - 不要停止我的音乐"  >
                <img src="https://img3.doubanio.com/spic/s3523286.jpg" alt="痛仰 - 不要停止我的音乐"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3236064/" onclick="moreurl(this,{i:'92',query:'',subject_id:'3236064',from:'music_subject_search'})" >
            不要停止我的音乐
       </a>

            <p class="pl">痛仰 / 2008-10 / 专辑 / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            29831人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3236064"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394771/" onclick="moreurl(this,{i:'93',query:'',subject_id:'1394771',from:'music_subject_search'})" title="Linkin Park - Hybrid Theory"  >
                <img src="https://img3.doubanio.com/spic/s2838195.jpg" alt="Linkin Park - Hybrid Theory"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394771/" onclick="moreurl(this,{i:'93',query:'',subject_id:'1394771',from:'music_subject_search'})" >
            Hybrid Theory
                <span style="font-size:12px;">混合理论</span>
       </a>

            <p class="pl">Linkin Park / 2000 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            28928人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394771"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1394566/" onclick="moreurl(this,{i:'94',query:'',subject_id:'1394566',from:'music_subject_search'})" title="Nirvana - MTV Unplugged in New York"  >
                <img src="https://img3.doubanio.com/spic/s3158430.jpg" alt="Nirvana - MTV Unplugged in New York"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1394566/" onclick="moreurl(this,{i:'94',query:'',subject_id:'1394566',from:'music_subject_search'})" >
            MTV Unplugged in New York
       </a>

            <p class="pl">Nirvana / 1994-11-01 / Live / Audio CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.5</span>
                <span class="pl">
                    (
                            27383人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1394566"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1400651/" onclick="moreurl(this,{i:'95',query:'',subject_id:'1400651',from:'music_subject_search'})" title="陈绮贞 - After 17"  >
                <img src="https://img3.doubanio.com/spic/s4711982.jpg" alt="陈绮贞 - After 17"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1400651/" onclick="moreurl(this,{i:'95',query:'',subject_id:'1400651',from:'music_subject_search'})" >
            After 17
       </a>

            <p class="pl">陈绮贞 / 2004年12月 / EP / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            27904人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1400651"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/1395432/" onclick="moreurl(this,{i:'96',query:'',subject_id:'1395432',from:'music_subject_search'})" title="Jack Johnson - In Between Dreams"  >
                <img src="https://img1.doubanio.com/spic/s4346679.jpg" alt="Jack Johnson - In Between Dreams"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1395432/" onclick="moreurl(this,{i:'96',query:'',subject_id:'1395432',from:'music_subject_search'})" >
            In Between Dreams
       </a>

            <p class="pl">Jack Johnson / 2005-03-22 / 专辑 / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            28160人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1395432"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3526294/" onclick="moreurl(this,{i:'97',query:'',subject_id:'3526294',from:'music_subject_search'})" title="五月天 - 神的孩子都在跳舞"  >
                <img src="https://img3.doubanio.com/spic/s3586961.jpg" alt="五月天 - 神的孩子都在跳舞"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3526294/" onclick="moreurl(this,{i:'97',query:'',subject_id:'3526294',from:'music_subject_search'})" >
            神的孩子都在跳舞
                <span style="font-size:12px;">神的孩子都在跳舞</span>
       </a>

            <p class="pl">五月天 / 2004-11-05 / 专辑 / CD / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            28369人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3526294"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/2150115/" onclick="moreurl(this,{i:'98',query:'',subject_id:'2150115',from:'music_subject_search'})" title="五月天 - 离开地球表面Jump!"  >
                <img src="https://img3.doubanio.com/spic/s27078194.jpg" alt="五月天 - 离开地球表面Jump!"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/2150115/" onclick="moreurl(this,{i:'98',query:'',subject_id:'2150115',from:'music_subject_search'})" >
            离开地球表面Jump!
       </a>

            <p class="pl">五月天 / 2007-07-20 / 专辑 / CD+DVD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            28623人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_2150115"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item">
                <td width="100" valign="top">
        
            <a class="nbg" href="https://music.douban.com/subject/3088329/" onclick="moreurl(this,{i:'99',query:'',subject_id:'3088329',from:'music_subject_search'})" title="陈奕迅 - 不想放手"  >
                <img src="https://img3.doubanio.com/spic/s3146476.jpg" alt="陈奕迅 - 不想放手"/></a>
            </td>
            <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/3088329/" onclick="moreurl(this,{i:'99',query:'',subject_id:'3088329',from:'music_subject_search'})" >
            不想放手
                <span style="font-size:12px;">Don&#39;t Want to Let Go</span>
       </a>

            <p class="pl">陈奕迅 / 2008-06-30 / 专辑 / CD</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            29624人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_3088329"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=50"/>
            <a href="https://music.douban.com/top250?start=50" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                <span class="thispage" data-total-page="10">4</span>
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=100"/>
            <a href="https://music.douban.com/top250?start=100" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐 Top 250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- daisy3d-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


