.box1 {
    background: #2E2E8F;
    color: white;
    width: 300px;
    height: 100px;
    position: relative;
}

.box1:hover {
    background: red;
}

.box1::before {
    content: 'Hello';
    display: block;
}